
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('C:\\Users\\carol eunice\\Downloads\\EVENTIFYLOGO.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  